# ==============================
# DEPENDENCIAS
# ==============================
node_modules/

# ==============================
# BUILD
# ==============================
dist/
build/

# ==============================
# VARIABLES DE ENTORNO
# ==============================
.env
.env.*

# ==============================
# LOGS
# ==============================
*.log

# ==============================
# ARCHIVOS SISTEMA
# ==============================
.DS_Store
Thumbs.db
