# ==============================
# DEPENDENCIAS
# ==============================
node_modules/
backend/node_modules/
frontend/node_modules/

# ==============================
# BUILD
# ==============================
dist/
build/
frontend/dist/

# ==============================
# VARIABLES DE ENTORNO
# ==============================
.env
backend/.env
frontend/.env
.env.tunnel

# ==============================
# LOGS
# ==============================
*.log
public-url.txt

# ==============================
# BACKUPS LOCALES
# ==============================
backend/backups/*/

# ==============================
# ARCHIVOS SISTEMA
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDE
# ==============================
.vscode/
.idea/
