# Environment Variables
NODE_ENV=development
PORT=5000

# Database PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=j_y_r_db
DB_USER=jyr_maintenance
DB_PASSWORD=maintenance_password
DB_APP_USER=jyr_app
DB_APP_PASSWORD=app_dml_password
DB_MAINTENANCE_USER=jyr_maintenance
DB_MAINTENANCE_PASSWORD=maintenance_password

# JWT
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=30m

# CORS
CORS_ORIGIN=http://localhost:3000
